@use '../abstracts/' as *;

.header {
    background: plum;
    position: sticky;
    top: 0;
    

    .brand-logo {
        background: linear-gradient(royalblue, plum, orange,);
    }

    img {
        @include square(var(--size-6));
        object-fit: contain;
        aspect-ratio: 1/1;
        overflow: hidden;
    }
}

.header__inner {
    @include flex-base();
    justify-content: space-between;
    padding-block: var(--size-2);

    @include breakpoint(tablet) {
        padding: 0;
    }
}