@use '../abstracts/' as *;

.nav-top {
    background: #a1b8e1;
    width: 100%;
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
    margin-inline: calc((var(--size-6) * -1)/2);
    z-index: 999;

    font-family: var(--ff-nav);
    font-size: var(--fs-400);
    text-transform: uppercase;

    @include breakpoint(tablet) { 
        background: transparent;
        width: auto;
    }


    li {
        
        &:hover {
            background:pink;
        }
    }

  
    a {
        color: currentColor;
        text-decoration: none;

        @include flex-base(var(--size-1));
        justify-content: space-between;
    }

    span {
        display: grid;
        place-content: center;
    }

    a[data-toggle="false"] {
        span {
            display: none;
        }
    }
}


.nav-top__list  {
    display: block;

    @include breakpoint(tablet) {
        @include flex-base(var(--size-4));
    } 
}

