@use '../abstracts/' as *;

.toggle {
    position: relative;
    font-size: var(--fs-600);
    cursor: pointer;
    display: grid;
    

    @include breakpoint(tablet) { 
        display: none;
    }

    >* {  
        pointer-events: auto;
        transition: transform 300ms, opacity 200ms;
    }

    >*:first-child { 
        position: absolute; 
        place-self: center;
        opacity: 0;
        transform: rotate(90deg); 
    }

    >*:first-child.show-icon {
        opacity: 1;
        transform: rotate(0);
    }

    >*:last-child {
        opacity: 1;
        transform: rotate(0deg);
    }

    >*:last-child.hide-icon {
        opacity: 0;
        transform: rotate(-90deg); 
    }

    & + *.show-menu {
        @include show-menu();
        transform: translateY(0);
    }
}