.heading-1 {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
}

.heading-2 {
    font-size: var(--fs-800);
    font-weight: var(--fw-900);
}

.heading-3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-800);
}