body {
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
}

h1, h2, h3 {
    font-family: var(--ff-heading) ;
}


nav {
    > ul {
        font-family: var(--ff-nav);
    }
}

button {
    cursor: pointer;
}