// font family
$font-family-heading: 'Montserrat', sans-serif;
$font-family-nav: 'Rubik', sans-serif;
$font-family-primary: corbel, veradna, system-ui;


$font-props: (

    family: (
        heading: $font-family-heading,
        primary: $font-family-primary,
        nav: $font-family-nav,
    ),

    size: (
        /* Step -1: 13.33px → 12.73px */
        300: clamp(0.7956rem, 0.8472rem + -0.075vw, 0.8331rem),
        /* Step 0: 16.00px → 18.00px */
        400: clamp(1rem, 0.9531rem + 0.25vw, 1.125rem),
        /* Step 1: 19.20px → 25.45px */
        500: clamp(1.2rem, 1.0535rem + 0.7813vw, 1.5906rem),
        /* Step 2: 23.04px → 35.99px */
        600: clamp(1.44rem, 1.1365rem + 1.6188vw, 2.2494rem),
        /* Step 3: 27.65px → 50.89px */
        700: clamp(1.7281rem, 1.1834rem + 2.905vw, 3.1806rem),
        /* Step 4: 33.18px → 71.96px */
        800: clamp(2.0738rem, 1.1648rem + 4.8475vw, 4.4975rem),
        /* Step 5: 39.81px → 101.75px */
        900: clamp(2.4881rem, 1.0364rem + 7.7425vw, 6.3594rem),
        /* Step 6: 47.78px → 143.87px */
        1000: clamp(2.9863rem, 0.7341rem + 12.0113vw, 8.9919rem),
    ),
    
    weight: (
        400: 400,
        500: 500,
        600: 600,
        700: 700,
        800: 800,
        900: 900,
    ),
);
