@use '../abstracts/' as *;

// div nav top toggle
.nav-top__toggle {
    @include breakpoint(tablet) {
        
    }
}

.nav-top__toggle[toggled] {
    
}

// nav nav-top
.nav-top {

    @include breakpoint(tablet) {
    
    }

}

.nav-top[data-transform-type="scale"] {
    
}

.nav-top[data-transform-type="top"] {

}

.nav-top[data-transform-type="bottom"] {

}

.nav-top[data-transform-type="left"] {
    
} 

.nav-top[data-transform-type="right"] {
    
}

.nav-top[show] {

}


// ul nav top menu
.nav-top__menu {
    flex-direction: column;


    @include breakpoint(tablet) {
        @include flex-base();
        flex-direction: row;

        li {
            position: relative;
        }

        >li > a + ul{
            top: 100%;
        }   

        li[submenu-right] *> a + ul{
            right: 0;
            transform: translateX(100%);
        }

        a[back-button] {
            display: none;
        }
    }
}


// ul nav top sub menu
.nav-top__submenu {
    background: pink;
    position: absolute;

    ul {
        background: green;
    }

    ul ul {
        background: royalblue;
    }
    @include breakpoint(tablet) {
        
    }
}

.nav-top__submenu[show] {
    
}

.nav-top__submenu[data-transform-type=push-menu] {
    @include breakpoint(tablet) {
    }
}


