@use '../abstracts/' as *;

// div nav top toggle
.nav-top__toggle {
    position: relative;
    display: grid;
    font-size: var(--size-5);
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;

    @include breakpoint(tablet) {
        opacity: 0;
        pointer-events: none;

    }

    >* {
        transition: transform 300ms, opacity 200ms;
    }

    >*:first-child {
        position: absolute;
        place-self: center;
        opacity: 0;
        transform: rotate(0);
    }

    >*:last-child {
        opacity: 1;
        transform: rotate(0deg);
    }


}

.nav-top__toggle[toggled] {

    >*:first-child {
        opacity: 1;
        transform: rotate(90deg);
    }

    >*:last-child {
        opacity: 0;
        transform: rotate(90deg);
    }
}

// nav nav-top
.nav-top {
    background: linear-gradient(steelblue, plum);
    position: absolute;
    @include hide-menu();
    top: 100%;
    width: 100%;
    margin-left: calc((var(--size-6)* -1)/2);
    padding: var(--size-4);

    font-family: var(--ff-nav);
    font-size: var(--fs-400);
    text-transform: uppercase;

    --scale: ;
    --transform: ;
    scale: var(--scale);
    transform: var(--transform);
    transition: transform 300ms, scale 300ms, opacity 200ms;

    @include breakpoint(tablet) {
        background: red;
        position: relative;
        @include show-menu();
        width: auto;
        margin-left: auto;
        padding: 0;
        transform: none;
    }

}

.nav-top[data-transform-type="scale"] {
    --scale: .9;
}

.nav-top[data-transform-type="top"] {
    --transform: translateY(-2%);
}

.nav-top[data-transform-type="bottom"] {
    --transform: translateY(2%);
}

.nav-top[data-transform-type="left"] {
    --transform: translateX(-10%);
}

.nav-top[data-transform-type="right"] {
    --transform: translateX(10%);
}

.nav-top[show] {
    @include show-menu();
    scale: 1;
    transform: translateY(0%);
    height: 100vh;
}


// ul nav top menu
.nav-top__menu {
    position: relative;
    flex-direction: column;
    
    a {
        @include flex-base();
        justify-content: space-between;
        color: currentColor;
        text-decoration: none;
        white-space: nowrap; 
    }

    a:hover {
        background: palegoldenrod;
    }

    li:hover {
        background: none;
    }

    @include breakpoint(tablet) {
        @include flex-base(var(--size-3));
        flex-direction: row;

        a:hover {
            background: none;
        }

        li:hover {
            background: rgb(155, 105, 155);
        }
    
        li {
            position: relative;
        }
    
        >li {
            height: var(--size-7);
            display: grid;
        }
    
        >li >ul {
            @include hide-menu();
            top: 100%;   
            transform: translateY(10%);
        }
    
        >li:hover >ul {
            @include show-menu();
            transform: translateY(0);   
        }
    
        >li[submenu-left] > ul {
            left: 0;
        }
    
        >li[submenu-right] > ul {
            right: 0;
        }
    
        li[submenu-left] *> a +* {
            left: 100%;
            transform: translateX(-10%);
        }
    
        li[submenu-left] *:hover> a +* {
            transform: translateX(0%);
        }
    
        li[submenu-right] *> a +* {
            right: 100%;
            transform: translateX(10%);
        }
    
        li[submenu-right] *> a {
            direction: rtl;
        }
    
        li[submenu-right] *> a >* {
            transform: rotate(180deg);
        }
    
        li[submenu-right] *:hover> a +* {
            transform: translateX(0%);
        }
    }

}


// ul nav top sub menu
.nav-top__submenu {
    background: royalblue;
    position: absolute;
    @include hide-menu();
    top: 0;
    min-width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 300ms, opacity 300ms;

    
    @include breakpoint(tablet) {
        min-width: calc(var(--size-8) * 2);
        height: auto;
        border-radius: var(--size-1);
        padding-block: var(--size-1);

        > li {
            padding-inline: var(--size-1);
        }

        > li > a {
            padding-block: var(--size-1);
            padding-inline: var(--size-1);
            border-radius: var(--size-1);
        }

        > li > a +* {
            @include hide-menu();
            top: 0;
        }
    
        > li:hover> a +* {
            @include show-menu();
        }
    }
}

.nav-top__submenu[show] {
    @include show-menu();
    transform: translateX(0%);
}

.nav-top__submenu[data-transform-type=push-menu] {
   @include breakpoint(tablet) {
    
   }
}


