@use '../abstracts/' as *;

// div nav top toggle
.nav-top__toggle {
    position: relative;
    display: grid;
    font-size: var(--size-5);
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    
    @include breakpoint(tablet) {
        opacity: 0;
        pointer-events: none;

    }
    
    >* {
        transition: transform 300ms, opacity 200ms;
    }

    >*:first-child {
        position: absolute;
        place-self: center;
        opacity: 0;
        transform: rotate(0);
    }

    >*:last-child {
        opacity: 1;
        transform: rotate(0deg);
    }

    
}

.nav-top__toggle[toggled] {

    >*:first-child {
        opacity: 1;
        transform: rotate(90deg);
    }

    >*:last-child {
        opacity: 0;
        transform: rotate(90deg);
    }
}

// nav nav-top
.nav-top {
    background: linear-gradient(steelblue, plum);
    position: absolute;
    top: 100%;
    width: 100%;
    margin-left: calc((var(--size-6)* -1)/2);
    padding: var(--size-4);

    font-family: var(--ff-nav);
    font-size: var(--fs-400);
    text-transform: uppercase;

    opacity: 0;
    --scale: ;
    --transform: ;
    scale: var(--scale);
    transform: var(--transform);
    transition: transform 300ms, scale 300ms, opacity 200ms;
    
    @include breakpoint(tablet) {
        background: transparent;
        position: relative;  
        width: auto;
        margin-left: auto;
        padding: 0;
        opacity: 1;
    }

}

.nav-top[data-transform-type="scale"] {
    --scale: .9;
}

.nav-top[data-transform-type="top"] {
    --transform: translateY(-2%);
}

.nav-top[data-transform-type="bottom"] {
    --transform: translateY(2%);
}

.nav-top[data-transform-type="left"] {
    --transform: translateX(-2%);
}

.nav-top[data-transform-type="right"] {
    --transform: translateX(2%);
}

.nav-top[show] {
    scale: 1;
    opacity: 1;
    transform: translateY(0%);
    height: 100vh;
}


// ul nav top list
.nav-top__list {
    
}



.nav-top__sublist {
    
}