@use './abstract/index' as *;
@use './base/index' as *;
@use './utils/index' as *;
@use './layouts/index' as *;


body {
    background: plum;
}

h1 {
    font-weight: bold;
    font-family: var(--ff-primary);
}



